<section class="text-center">
    <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>


    <div class="card shadow-12-strong " style="
          margin-top: -100px;
          margin-left: 500px;
          width: 800px;                  
          background: hsla(218, 64%, 92%, 0.8);
          backdrop-filter: blur(30px);
          ">
        <div class="card-body py-5 px-md-5">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-8">
                    <h2 class="fw-bold mb-5">Enter your user id and mobile number and reset your password</h2>
                    <form [formGroup]="formGroup" (ngSubmit)=resetPass()>
                        <div class="form-outline mb-4">
                            <label class="form-label" for="userId">UserId</label>
                            <input type="text" id="userId" name="userId" formControlName="userId"
                                class="form-control" />
                        </div>

                        <div *ngIf="submitted && f['userId'].errors">
                            <div class="error text-danger">
                                enter your userId
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="mobile">Mobile No.</label>
                            <input type="email" id="mobile" name="mobile" class="form-control"
                                formControlName="mobile" />
                        </div>
                        <div *ngIf="submitted && f['mobile'].errors">
                            <div class="error text-danger">
                                enter your password
                            </div>
                        </div>

                        <div class="form-outline mb-4">
                            <label class="form-label" for="userId">Password</label>
                            <input type="text" id="password" name="password" formControlName="password"
                                class="form-control" />
                        </div>


                        <button type="submit" class="btn btn-primary btn-block mb-4">password Update</button>
                        <div class="text-center ">
                            <a class="text-center mr-5" routerLink=""><span class="fa fa-edit fa-fw"></span>Login
                                now</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>