<div class=" text-end" style="font-size: 40px; background-color: darkblue;">
    <li class="nav-item d-none d-sm-inline-block">
        <a (click)="logout()" class="nav-link  btn btn-danger Activity mb-4" 
          style="color: rgb(218, 52, 52); background-color: rgb(244, 235, 235);"><b>Logout</b> </a>
        <span class=""></span>
      </li>    
</div>
<div class="content-wrapper text-center"

    style="background-color: rgb(201, 226, 247); font-size: 300px; font-weight: bold; color: deepblue;font-style: italic;">
   
    Welcome To DashBoard
</div>