<section class="text-center">
  <div class="p-5 bg-image" style="
          background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
          height: 300px;
          "></div>

  <div class="card shadow-12-strong " style="
    margin-top: -100px;
    margin-left: 350px;
    width: 1200px;                  
    background: hsla(218, 64%, 92%, 0.8);
    backdrop-filter: blur(30px);
    ">


    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign up now</h2>
          <form [formGroup]="formGroup"> 
            <div class="form-outline mb-4">
              <label class="form-label" for="userID">UserId</label>
              <input type="email" id="userID" class="form-control" name="userId" formControlName="userId" placeholder="Enter your UserId" />
            </div>
            <div *ngIf="submitted && f['userId'].errors">
              <div class="error text-danger">
                   userId is mandatory
              </div>
          </div>
            <div class="form-outline mb-4">
              <label class="form-label" for="password">Password</label>
              <input type="password" id="password" class="form-control" formControlName="password" placeholder="enter your password" />
            </div>
            <div *ngIf="submitted && f['password'].errors">
              <div class="error text-danger">
                   password is mandatory
              </div>
          </div>

            <div class="form-outline mb-4">
              <label class="form-label" for="mobile">Mobile No.</label>
              <input type="email" id="mobile" name="mobile" class="form-control" formControlName="mobile" placeholder="enter your mobile number" />
            </div>
            <div *ngIf="submitted && f['mobile'].errors">
              <div class="error text-danger">
                   Mobile no. is mandatory
              </div>
          </div>

            <button type="submit" (click)="addUser()" class="btn btn-primary btn-block mb-4">
              Sign up
            </button>

            <div class="text-center ">
              <a class="text-center mr-5" routerLink=""><span class="fa fa-edit fa-fw"></span>Login now</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>